<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>cape_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 75}</string>
			<key>spriteSourceSize</key>
			<string>{97, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 0}, {97, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cape_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 75}</string>
			<key>spriteSourceSize</key>
			<string>{97, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{297, 0}, {97, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cape_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {95, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 75}</string>
			<key>spriteSourceSize</key>
			<string>{97, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {97, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cape_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 75}</string>
			<key>spriteSourceSize</key>
			<string>{97, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{99, 0}, {97, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flip_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {77, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 76}</string>
			<key>spriteSourceSize</key>
			<string>{83, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{350, 176}, {83, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flip_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 76}</string>
			<key>spriteSourceSize</key>
			<string>{83, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{95, 159}, {83, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flip_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {81, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 76}</string>
			<key>spriteSourceSize</key>
			<string>{83, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 159}, {83, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flip_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {83, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 76}</string>
			<key>spriteSourceSize</key>
			<string>{83, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{265, 171}, {83, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flip_4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {77, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 76}</string>
			<key>spriteSourceSize</key>
			<string>{83, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{95, 237}, {83, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 71}</string>
			<key>spriteSourceSize</key>
			<string>{81, 71}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 315}, {81, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_0_flash</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 71}</string>
			<key>spriteSourceSize</key>
			<string>{81, 71}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 253}, {81, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {78, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 80}</string>
			<key>spriteSourceSize</key>
			<string>{82, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 249}, {82, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {78, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 80}</string>
			<key>spriteSourceSize</key>
			<string>{82, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{348, 254}, {82, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {80, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 80}</string>
			<key>spriteSourceSize</key>
			<string>{82, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 237}, {82, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rocket_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {91, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 92}</string>
			<key>spriteSourceSize</key>
			<string>{93, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 159}, {93, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rocket_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 92}</string>
			<key>spriteSourceSize</key>
			<string>{93, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{386, 82}, {93, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rocket_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 92}</string>
			<key>spriteSourceSize</key>
			<string>{93, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{291, 77}, {93, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>roll_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {79, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{95, 80}</string>
			<key>spriteSourceSize</key>
			<string>{95, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{396, 0}, {95, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>roll_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {71, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{95, 80}</string>
			<key>spriteSourceSize</key>
			<string>{95, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 77}, {95, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>roll_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {79, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{95, 80}</string>
			<key>spriteSourceSize</key>
			<string>{95, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{97, 77}, {95, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>roll_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {71, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{95, 80}</string>
			<key>spriteSourceSize</key>
			<string>{95, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{194, 77}, {95, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {77, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 74}</string>
			<key>spriteSourceSize</key>
			<string>{79, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 401}, {79, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 74}</string>
			<key>spriteSourceSize</key>
			<string>{79, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 408}, {79, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {79, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 74}</string>
			<key>spriteSourceSize</key>
			<string>{79, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{247, 331}, {79, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {79, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 74}</string>
			<key>spriteSourceSize</key>
			<string>{79, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{243, 407}, {79, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_blink</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {77, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 74}</string>
			<key>spriteSourceSize</key>
			<string>{79, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{328, 336}, {79, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sit_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 80}</string>
			<key>spriteSourceSize</key>
			<string>{79, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{432, 255}, {79, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sit_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {77, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 80}</string>
			<key>spriteSourceSize</key>
			<string>{79, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 326}, {79, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sit_1_blink</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {77, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 80}</string>
			<key>spriteSourceSize</key>
			<string>{79, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 388}, {79, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sit_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {77, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 80}</string>
			<key>spriteSourceSize</key>
			<string>{79, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 319}, {79, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swing_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {68, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 77}</string>
			<key>spriteSourceSize</key>
			<string>{70, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 176}, {70, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swing_head</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {42, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 77}</string>
			<key>spriteSourceSize</key>
			<string>{70, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{324, 412}, {70, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>dog7</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>dog7ss</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>dog7ss</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>