<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>swingvine0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine10</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {46, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 0}, {194, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 0}, {160, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 0}, {116, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1064, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{125, 0}, {84, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{137, 0}, {74, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine7</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {94, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine8</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {102, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine9</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {102, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 58}, {58, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 70}, {72, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1596, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 53}, {68, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 40}, {72, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 40}, {70, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{109, 40}, {64, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1064, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 42}, {68, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight7</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{152, 40}, {78, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight8</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{182, 62}, {74, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_up0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 74}, {58, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_up1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 86}, {72, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_up2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 69}, {68, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_up3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 56}, {72, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_up4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{72, 45}, {70, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_up5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 23}, {64, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_up6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 8}, {68, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_up7</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{151, 0}, {48, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>tut_anim_2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>tut_anim_2</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>tut_anim_2</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>