<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boneicon</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {35, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{35, 32}</string>
			<key>spriteSourceSize</key>
			<string>{37, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 316}, {35, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buybutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {108, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 71}</string>
			<key>spriteSourceSize</key>
			<string>{108, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{905, 11}, {108, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inventorydivider</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {407, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{407, 9}</string>
			<key>spriteSourceSize</key>
			<string>{407, 9}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{561, 0}, {407, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>itemslot</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 40}</string>
			<key>spriteSourceSize</key>
			<string>{38, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{959, 437}, {38, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>itemslot_large</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 76}</string>
			<key>spriteSourceSize</key>
			<string>{74, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 324}, {74, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>itemslot_small</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{55, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{493, 233}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_achievementsbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {32, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 324}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_arrow_left</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 52}</string>
			<key>spriteSourceSize</key>
			<string>{31, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{905, 84}, {31, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_arrow_right</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 52}</string>
			<key>spriteSourceSize</key>
			<string>{31, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{913, 215}, {31, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_backbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 42}</string>
			<key>spriteSourceSize</key>
			<string>{50, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 215}, {50, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_bgsign</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {101, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{101, 101}</string>
			<key>spriteSourceSize</key>
			<string>{101, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{547, 316}, {101, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_blankbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {32, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{194, 324}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_charselmenu</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {222, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{222, 125}</string>
			<key>spriteSourceSize</key>
			<string>{222, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{689, 151}, {222, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_checkbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 51}</string>
			<key>spriteSourceSize</key>
			<string>{52, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 291}, {52, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_closebutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{34, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 324}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_curtains</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {491, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{491, 57}</string>
			<key>spriteSourceSize</key>
			<string>{491, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 265}, {491, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_flower_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 43}</string>
			<key>spriteSourceSize</key>
			<string>{24, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{946, 215}, {24, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_flower_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 43}</string>
			<key>spriteSourceSize</key>
			<string>{24, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{933, 437}, {24, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_flower_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 43}</string>
			<key>spriteSourceSize</key>
			<string>{24, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{907, 437}, {24, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_homebutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{650, 350}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_inventorybutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 324}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_inventoryitem</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 324}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_inventorypane</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {451, 231}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{451, 231}</string>
			<key>spriteSourceSize</key>
			<string>{451, 231}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 0}, {451, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_itempane</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 108}</string>
			<key>spriteSourceSize</key>
			<string>{88, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{817, 367}, {88, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_runbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 75}</string>
			<key>spriteSourceSize</key>
			<string>{106, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{913, 138}, {106, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_settingsbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230, 324}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shopbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {32, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{302, 324}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shopkeeper</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 163}</string>
			<key>spriteSourceSize</key>
			<string>{126, 163}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{561, 151}, {126, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shopkeeper_blink</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 163}</string>
			<key>spriteSourceSize</key>
			<string>{126, 163}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{689, 278}, {126, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shopmenu</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {342, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{342, 138}</string>
			<key>spriteSourceSize</key>
			<string>{342, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{561, 11}, {342, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shopsign</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 68}</string>
			<key>spriteSourceSize</key>
			<string>{102, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{907, 367}, {102, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shoptab</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{86, 41}</string>
			<key>spriteSourceSize</key>
			<string>{86, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{938, 84}, {86, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_signtab</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 30}</string>
			<key>spriteSourceSize</key>
			<string>{82, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 233}, {82, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_speechbub</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {198, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{198, 87}</string>
			<key>spriteSourceSize</key>
			<string>{200, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{817, 278}, {198, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_spotlight</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 263}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 263}</string>
			<key>spriteSourceSize</key>
			<string>{106, 263}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {106, 263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_statsbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{650, 392}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>subinventory_empty</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 23}</string>
			<key>spriteSourceSize</key>
			<string>{23, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{217, 233}, {23, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>subinventory_locked</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 23}</string>
			<key>spriteSourceSize</key>
			<string>{23, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 233}, {23, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>nmenu_items</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>nmenu_items</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>nmenu_items</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>